<!DOCTYPE html>
<html>
<%- include("header"); %>

<body>
<%- include("navbar"); %>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">EMS Project</h1>
    <p class="lead">Manage your employees in one simple location</p>
  </div>
</div>

<div class="container">
  <%- include("list"); %>
</div>

<%- include("footer"); %>
<%- include("scripts"); %>
</body>
</html>
