<!DOCTYPE html>
<html>
<%- include("header"); %>

<body>
<%- include("navbar"); %>
<%- include("view"); %>
<div class="container">
  <%- include("list"); %>
</div>

<%- include("footer"); %>
<%- include("scripts"); %>
</body>
</html>
